# API
NODE_ENV=production
API_PORT=3000
PORT=3000

# Postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=pets_corner
POSTGRES_USER=pets_corner
POSTGRES_PASSWORD=change_me_to_a_strong_password
DATABASE_URL=postgresql://pets_corner:change_me_to_a_strong_password@db:5432/pets_corner

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_to_a_strong_password
PGADMIN_PORT=5050
